In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Load CSV file
csv_file = pd.DataFrame(pd.read_csv("static/data/OH_accident.csv", sep = ",", header = 0, index_col = False))

In [3]:
# Convert CSV file and save to JSON
#csv_file.to_json("static/data/OH_test.json", orient = "records", date_format = "epoch", double_precision = 10, force_ascii = True, date_unit = "ms", default_handler = None)

In [4]:
# verify that file loaded into dataframe
csv_file.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,City,State,Temperature(F),Humidity(%),Visibility(mi),Wind_Speed(mph),Weather_Condition
0,A-3,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,Williamsburg,OH,36.0,100.0,10.0,3.5,Overcast
1,A-4,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,Dayton,OH,35.1,96.0,9.0,4.6,Overcast
2,A-5,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,Dayton,OH,36.0,89.0,6.0,3.5,Overcast
3,A-6,3,2016-02-08 07:44:26,2016-02-08 08:14:26,40.100590,-82.925194,Westerville,OH,37.9,97.0,7.0,3.5,Rain
4,A-7,2,2016-02-08 07:59:35,2016-02-08 08:29:35,39.758274,-84.230507,Dayton,OH,34.0,100.0,7.0,3.5,Overcast

In [5]:
# function to get Weather_Condition unique values to generate map layers

csv_file["Weather_Condition"].unique()

array(['Overcast', 'Rain', 'Snow', 'Haze', 'Clear', 'Freezing Rain',
       'Fog', 'Thunderstorm', 'Hail'], dtype=object)

In [ ]:
# end of file