In [1]:
import pandas as pd 
import csv

In [3]:
file = "../Resource/US_Accidents_Dec19.csv"
df = pd.read_csv(file)

In [5]:
columns = ["ID", "Severity", "Start_Time", "End_Time", "Start_Lat", "Start_Lng", 
"City", "State", "Temperature(F)", "Humidity(%)", "Visibility(mi)", "Weather_Condition"]
accident_df = df[columns]

In [8]:
accident_df_cleaned = accident_df.dropna()

In [9]:
accident_df_cleaned.count()

ID                   2888846
Severity             2888846
Start_Time           2888846
End_Time             2888846
Start_Lat            2888846
Start_Lng            2888846
City                 2888846
State                2888846
Temperature(F)       2888846
Humidity(%)          2888846
Visibility(mi)       2888846
Weather_Condition    2888846
dtype: int64

In [15]:
#states = df["State"].unique()
#data_by_state = []
#for i in range(len(states)):

array(['OH', 'WV', 'CA', 'FL', 'GA', 'SC', 'NE', 'IA', 'IL', 'MO', 'WI',
       'IN', 'MI', 'NJ', 'NY', 'CT', 'MA', 'RI', 'NH', 'PA', 'KY', 'MD',
       'VA', 'DC', 'DE', 'TX', 'WA', 'OR', 'AL', 'NC', 'MN', 'OK', 'LA',
       'TN', 'UT', 'CO', 'AZ', 'NV', 'KS', 'MS', 'NM', 'ME', 'AR', 'WY',
       'VT', 'ID', 'ND', 'MT', 'SD'], dtype=object)

In [10]:
accident_df_OH = accident_df_cleaned.loc[df["State"] == "OH"]
accident_df_WV = accident_df_cleaned.loc[df["State"] == "WV"]
accident_df_CA = accident_df_cleaned.loc[df["State"] == "CA"]
accident_df_FL = accident_df_cleaned.loc[df["State"] == "FL"]
accident_df_GA = accident_df_cleaned.loc[df["State"] == "GA"]
accident_df_SC = accident_df_cleaned.loc[df["State"] == "SC"]
accident_df_NE = accident_df_cleaned.loc[df["State"] == "NE"]
accident_df_IA = accident_df_cleaned.loc[df["State"] == "IA"]
accident_df_IL = accident_df_cleaned.loc[df["State"] == "IL"]
accident_df_MO = accident_df_cleaned.loc[df["State"] == "MO"]
accident_df_WI = accident_df_cleaned.loc[df["State"] == "WI"]
accident_df_IN = accident_df_cleaned.loc[df["State"] == "IN"]
accident_df_MI = accident_df_cleaned.loc[df["State"] == "MI"]
accident_df_NJ = accident_df_cleaned.loc[df["State"] == "NJ"]
accident_df_NY = accident_df_cleaned.loc[df["State"] == "NY"]
accident_df_CT = accident_df_cleaned.loc[df["State"] == "CT"]
accident_df_MA = accident_df_cleaned.loc[df["State"] == "MA"]
accident_df_RI = accident_df_cleaned.loc[df["State"] == "RI"]
accident_df_NH = accident_df_cleaned.loc[df["State"] == "NH"]
accident_df_PA = accident_df_cleaned.loc[df["State"] == "PA"]
accident_df_KY = accident_df_cleaned.loc[df["State"] == "KY"]
accident_df_MD = accident_df_cleaned.loc[df["State"] == "MD"]
accident_df_VA = accident_df_cleaned.loc[df["State"] == "VA"]
accident_df_DC = accident_df_cleaned.loc[df["State"] == "DC"]
accident_df_DE = accident_df_cleaned.loc[df["State"] == "DE"]
accident_df_TX = accident_df_cleaned.loc[df["State"] == "TX"]
accident_df_WA = accident_df_cleaned.loc[df["State"] == "WA"]
accident_df_OR = accident_df_cleaned.loc[df["State"] == "OR"]
accident_df_AL = accident_df_cleaned.loc[df["State"] == "AL"]
accident_df_NC = accident_df_cleaned.loc[df["State"] == "NC"]
accident_df_MN = accident_df_cleaned.loc[df["State"] == "MN"]
accident_df_OK = accident_df_cleaned.loc[df["State"] == "OK"]
accident_df_LA = accident_df_cleaned.loc[df["State"] == "LA"]
accident_df_TN = accident_df_cleaned.loc[df["State"] == "TN"]
accident_df_UT = accident_df_cleaned.loc[df["State"] == "UT"]
accident_df_CO = accident_df_cleaned.loc[df["State"] == "CO"]
accident_df_AZ = accident_df_cleaned.loc[df["State"] == "AZ"]
accident_df_NV = accident_df_cleaned.loc[df["State"] == "NV"]
accident_df_KS = accident_df_cleaned.loc[df["State"] == "KS"]
accident_df_MS = accident_df_cleaned.loc[df["State"] == "MS"]
accident_df_NM = accident_df_cleaned.loc[df["State"] == "NM"]
accident_df_ME = accident_df_cleaned.loc[df["State"] == "ME"]
accident_df_AR = accident_df_cleaned.loc[df["State"] == "AR"]
accident_df_WY = accident_df_cleaned.loc[df["State"] == "WY"]
accident_df_VT = accident_df_cleaned.loc[df["State"] == "VT"]
accident_df_ID = accident_df_cleaned.loc[df["State"] == "ID"]
accident_df_ND = accident_df_cleaned.loc[df["State"] == "ND"]
accident_df_MT = accident_df_cleaned.loc[df["State"] == "MT"]
accident_df_SD = accident_df_cleaned.loc[df["State"] == "SD"]

In [11]:
accident_df_OH.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,City,State,Temperature(F),Humidity(%),Visibility(mi),Weather_Condition
0,A-1,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,Dayton,OH,36.9,91.0,10.0,Light Rain
1,A-2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,Reynoldsburg,OH,37.9,100.0,10.0,Light Rain
2,A-3,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,Williamsburg,OH,36.0,100.0,10.0,Overcast
3,A-4,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,Dayton,OH,35.1,96.0,9.0,Mostly Cloudy
4,A-5,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,Dayton,OH,36.0,89.0,6.0,Mostly Cloudy

In [12]:
accident_df_OH.to_csv("../Resource/OH_accident.csv", encoding="utf-8", index=True)
accident_df_WV.to_csv("../Resource/WA_accident.csv", encoding="utf-8", index=True)
accident_df_CA.to_csv("../Resource/CA_accident.csv", encoding="utf-8", index=True)
accident_df_FL.to_csv("../Resource/FL_accident.csv", encoding="utf-8", index=True)
accident_df_GA.to_csv("../Resource/GA_accident.csv", encoding="utf-8", index=True)
accident_df_SC.to_csv("../Resource/SC_accident.csv", encoding="utf-8", index=True)
accident_df_NE.to_csv("../Resource/NE_accident.csv", encoding="utf-8", index=True)
accident_df_IA.to_csv("../Resource/IA_accident.csv", encoding="utf-8", index=True)
accident_df_IL.to_csv("../Resource/IL_accident.csv", encoding="utf-8", index=True)
accident_df_MO.to_csv("../Resource/MO_accident.csv", encoding="utf-8", index=True)
accident_df_WI.to_csv("../Resource/WI_accident.csv", encoding="utf-8", index=True)
accident_df_IN.to_csv("../Resource/IN_accident.csv", encoding="utf-8", index=True)
accident_df_MI.to_csv("../Resource/MI_accident.csv", encoding="utf-8", index=True)
accident_df_NJ.to_csv("../Resource/NJ_accident.csv", encoding="utf-8", index=True)
accident_df_NY.to_csv("../Resource/NY_accident.csv", encoding="utf-8", index=True)
accident_df_CT.to_csv("../Resource/CT_accident.csv", encoding="utf-8", index=True)
accident_df_MA.to_csv("../Resource/MA_accident.csv", encoding="utf-8", index=True)
accident_df_RI.to_csv("../Resource/RI_accident.csv", encoding="utf-8", index=True)
accident_df_NH.to_csv("../Resource/NH_accident.csv", encoding="utf-8", index=True)
accident_df_PA.to_csv("../Resource/PA_accident.csv", encoding="utf-8", index=True)
accident_df_KY.to_csv("../Resource/KY_accident.csv", encoding="utf-8", index=True)
accident_df_MD.to_csv("../Resource/MD_accident.csv", encoding="utf-8", index=True)
accident_df_VA.to_csv("../Resource/VA_accident.csv", encoding="utf-8", index=True)
accident_df_DC.to_csv("../Resource/DC_accident.csv", encoding="utf-8", index=True)
accident_df_DE.to_csv("../Resource/DE_accident.csv", encoding="utf-8", index=True)
accident_df_TX.to_csv("../Resource/TX_accident.csv", encoding="utf-8", index=True)
accident_df_WA.to_csv("../Resource/WA_accident.csv", encoding="utf-8", index=True)
accident_df_OR.to_csv("../Resource/OR_accident.csv", encoding="utf-8", index=True)
accident_df_AL.to_csv("../Resource/AL_accident.csv", encoding="utf-8", index=True)
accident_df_NC.to_csv("../Resource/NC_accident.csv", encoding="utf-8", index=True)
accident_df_MN.to_csv("../Resource/MN_accident.csv", encoding="utf-8", index=True)
accident_df_OK.to_csv("../Resource/OK_accident.csv", encoding="utf-8", index=True)
accident_df_LA.to_csv("../Resource/LA_accident.csv", encoding="utf-8", index=True)
accident_df_TN.to_csv("../Resource/TN_accident.csv", encoding="utf-8", index=True)
accident_df_UT.to_csv("../Resource/UT_accident.csv", encoding="utf-8", index=True)
accident_df_CO.to_csv("../Resource/CO_accident.csv", encoding="utf-8", index=True)
accident_df_AZ.to_csv("../Resource/AZ_accident.csv", encoding="utf-8", index=True)
accident_df_NV.to_csv("../Resource/NV_accident.csv", encoding="utf-8", index=True)
accident_df_KS.to_csv("../Resource/KS_accident.csv", encoding="utf-8", index=True)
accident_df_MS.to_csv("../Resource/MS_accident.csv", encoding="utf-8", index=True)
accident_df_NM.to_csv("../Resource/NM_accident.csv", encoding="utf-8", index=True)
accident_df_ME.to_csv("../Resource/ME_accident.csv", encoding="utf-8", index=True)
accident_df_AR.to_csv("../Resource/AR_accident.csv", encoding="utf-8", index=True)
accident_df_WY.to_csv("../Resource/WY_accident.csv", encoding="utf-8", index=True)
accident_df_VT.to_csv("../Resource/VT_accident.csv", encoding="utf-8", index=True)
accident_df_ID.to_csv("../Resource/ID_accident.csv", encoding="utf-8", index=True)
accident_df_ND.to_csv("../Resource/NM_accident.csv", encoding="utf-8", index=True)
accident_df_MT.to_csv("../Resource/MT_accident.csv", encoding="utf-8", index=True)
accident_df_SD.to_csv("../Resource/SD_accident.csv", encoding="utf-8", index=True)